name: temp

on:
  workflow_dispatch:

jobs:
  build-mapping:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r req.txt

      - name: Run team mapping script
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          FOOTBALL_API_KEY: ${{ secrets.FOOTBALL_API_KEY_FOOTBALL}}
        run: team_mapping_script_footy_football.py
