name: validate main
on:
  schedule:
    # Runs at 00:00 UTC every day (adjust time as needed)
    - cron: '0 5 * * *'
  workflow_dispatch: # Allows manual trigger from GitHub UI
jobs:
  run-script:
    runs-on: ubuntu-latest
    
    env:
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_PORT: ${{ secrets.DB_PORT }}
      DB_DATABASE: ${{ secrets.DB_DATABASE }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f req.txt ]; then pip install -r req.txt; fi
    
    - name: Run Python script
      run: python validate_main.py
